/*-- scss:defaults --*/

$body-bg: #192519;
$body-color: #fff;
$link-color: #42affa;
$gradient: linear-gradient(180deg, rgba(#fff, .15), rgba(#fff, 0));


/*-- scss:rules --*/

.reveal .slide blockquote {
  border-left: 3px solid $text-muted;
  padding-left: 0.5em;
}

table, th, td {
  border: 0px solid black;
  vertical-align: middle;
}

.caption {
  margin: auto;
  text-align: center;
  text-color: #fff;
}

.figure-caption {
  margin: auto;
  text-align: center;
  text-color: green;
  font-size: 0.5em;
}

